# docker
UID=1000 # your user's ID, only used for development
GID=1000 # your user's Group ID, only used for development
DOCKER_NETWORK=your-docker-network # use it to make available in you own docker network
CONTAINER_TARGET=/var/www/html # only use is for development for live reload the source

# app
ENVIRONMENT=development
UPLOAD_KEY=Auth-Bearer-Token # this is your API token

# nginx, only used when accessing throught nginx proxy with acme-companion
VIRTUAL_HOST=localhost
VIRTUAL_PORT=8000
LETSENCRYPT_HOST=localhost
LETSENCRYPT_EMAIL=name@example.com
