# docker
UID=1000
GID=1000
DOCKER_NETWORK=your-docker-network

# app
ENVIRONMENT=development
UPLOAD_KEY=Auth-Bearer-Token

# nginx
VIRTUAL_HOST=localhost
VIRTUAL_PORT=8000
LETSENCRYPT_HOST=localhost
LETSENCRYPT_EMAIL=name@example.com
